extends layout
block content
    h1= title
    p Welcome to #{title}
    p Math.imul() is applied to #{num} is #{imu1}
    p Math.log() is applied to #{num1} is #{logg1}
    p Math.log10() is applied to #{num2} is #{logg_101}